.vscode

AStar/astar
AStar/astar_vis
AStar/*.csv

Anotacoes
Bibliografia
MCU
Images

Python_Trainer/.venv
Python_Trainer/__pycache__
Python_Trainer/st_ai_ws
Python_Trainer/tensorflow-onnx
Python_Trainer/results